@use './var';


[data-dark="true"] {
    color-scheme: dark;
}

[data-dark="false"] {
    color-scheme: light;
}


.headline {
    color: var.$text-color;

    font-family: 'Playfair Display', serif;
    font-weight: 900;
}


.icon {
    display: inline-block;

    &--fill {
        font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    }

    &--logo {
        width: 1.25rem;
        height: auto;

        margin-right: 0.75rem;
    }
}