$black: #000000;
$darkgrey: #404040;
$mediumgrey: #C5C5C5;
$lightgrey: #D9D9D9;
$white: #FFFFFF;

$green: #46781B;
$red: #FF5D5D;


$text-color: light-dark($darkgrey, $lightgrey);

$bg-color: light-dark($white, #1F1F1F);
$border-color: light-dark($mediumgrey, $darkgrey);
$input-color: light-dark(#d9d9d950, #40404099);
$input-text-color: light-dark(#22222266, #C5C5C566);


$headerHeight: 3.75rem;
$footerHeight: 4.5rem;

$articleHeight: 6.5rem;