@use './placeholders/var';


.settings {
    &__heading {
        color: var.$green;

        font-size: 2rem;
        font-weight: 700;
        text-align: center;
    }

    &__list {

        &__heading {
            color: var.$text-color;

            font-size: 1.25rem;
            font-weight: 600;
            text-align: center;

            margin-top: 1rem;
            margin-bottom: 2.25rem;
        }

        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            border-top: solid 1px var.$mediumgrey;

            padding: 1.125rem 1.5rem;

            &:last-of-type {
                border-bottom: solid 1px var.$mediumgrey;
            }

            &__text {
                display: flex;
                align-items: center;

                font-size: 1rem;
                font-weight: 900;
                text-transform: uppercase;
            }
        }
    }

    &__version {
        display: block;

        color: var.$lightgrey;

        font-size: 0.75rem;
        font-weight: 600;
        text-align: center;

        margin: 1.5rem 0;
    }
}


.settings__list__item__option {
    width: 3.625rem;
    height: 2rem;

    display: block;

    position: relative;

    cursor: pointer;


    &__bg {
        width: 100%;
        height: 100%;

        display: block;

        border-radius: 100px;
        background-color: var.$lightgrey;
    }


    &__switch {
        display: none;
    }
    &__switch:checked ~ &__bg {
        background-color: var.$green;
    }
    &__switch:checked ~ &__slider {
        margin-left: 1.75rem;
    }

    &__slider {
        height: 1.75rem;
        width: 1.75rem;
    
        display: block;
    
        position: absolute;
        z-index: 999;
    
        border-radius: 100px;
        background-color: var.$white;
    
        margin: 0.125rem;
    }

    &__slider, &__bg {
        -webkit-transition: 250ms ease-out;
        transition: 250ms ease-out;
    }
    
}


.darkmode {
    display: block;

    margin: 0 1.5rem;
    margin-top: 2rem;


    &__switch {
        display: none;
    }

    &__btn {
        height: 3.875rem;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 100px;
        border: solid 2px var.$green;

        color: var.$green;

        font-size: 1.125rem;
        font-weight: 600;

        cursor: pointer;
    }
}